a:link {
  color:white;
  background-color: black;
  text-decoration: none;
  display: flex;
}
a:visited {
  color:white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
  
}
a:active {
  color:yellow;
  background-color: transparent;
  text-decoration: none;
}
.nav-extended{
  background-color: black;
  color: white;
  padding: 10px;
  font-family: Arial;
  text-align: center;
}


#search-input{
  width: 200px ;
  height: 30px;
   border: 1 px solid gray;
    background-color: gray;

}


#main{
  display: inline-flex;
}

#div1{
   width:  900px;
 margin:  20px;
}
#div2{
  width:  200px;
margin:  20px;
}

::placeholder {
  color: black;
  font-size: 18px;
}
p:visited{
   color: yellow;

}
#detail_small{
 font-size: 8px;

}















